* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "MuseoSans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #999;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%; }

button {
  cursor: pointer;
  padding: 0.5em;
  font-size: 1.25em;
  text-align: center;
  border-radius: 0.15em;
  outline: none;
  transition: color 0.33s, background-color 0.5s, border 0.5s; }
  button:active {
    position: relative;
    top: 1px;
    opacity: 0.5; }
  button.blocked {
    animation-name: buttonInAction;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite; }

div.mainBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0.15em;
  background: #efefef url("https://mfa.cachefly.net/mfa/images/uploads/2018/03/donate-background.jpg") no-repeat;
  background-position: 80% 50%;
  background-size: cover; }

div.loadingDisplay {
  color: rgba(243, 243, 244, 0.8);
  text-align: center;
  font-size: 2em; }

div.giftFormHeaderContainer {
  display: none; }
  div.giftFormHeaderContainer div.giftFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75em 0.75em 1.5em 0.75em;
    background: linear-gradient(#fff, #eeeeef);
    border-bottom: 1px solid #dedee0; }
    div.giftFormHeaderContainer div.giftFormHeader > div {
      width: 25%; }
    div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer {
      width: 50%;
      text-align: center; }

div.giftFormContainer {
  width: 100%;
  min-width: 17.5em;
  max-width: 25em; }
  div.giftFormContainer form.mainGiftForm {
    background: linear-gradient(#fff, #f3f3f4, #f3f3f4, #f3f3f4);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.15em;
    overflow: hidden; }
    div.giftFormContainer form.mainGiftForm section.step {
      display: none;
      padding: 1.75rem; }
    div.giftFormContainer form.mainGiftForm h3 {
      font-weight: normal; }
    div.giftFormContainer form.mainGiftForm select,
    div.giftFormContainer form.mainGiftForm input[type="text"],
    div.giftFormContainer form.mainGiftForm div.cardTokenizerFrame {
      width: 100%;
      min-height: 2.25rem;
      padding: 0.5rem;
      font-size: 1.25rem;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 0.15em;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    div.giftFormContainer form.mainGiftForm div.cardTokenizerFrame {
      height: 2.25rem; }
    div.giftFormContainer form.mainGiftForm button.main {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin-top: 1rem;
      width: 100%;
      padding: 1em;
      text-align: left;
      font-weight: bold;
      font-size: 1em;
      color: #fff;
      background-color: #01a7df;
      border: 1px solid #01a7df; }
      div.giftFormContainer form.mainGiftForm button.main i.fa {
        position: relative;
        font-size: 1.25em;
        left: 0;
        transition: left 0.66s; }
      div.giftFormContainer form.mainGiftForm button.main.goNextStep:hover i.fa, div.giftFormContainer form.mainGiftForm button.main.goNextStep:active i.fa {
        left: 0.33em; }
      div.giftFormContainer form.mainGiftForm button.main.error {
        background: tomato;
        border-color: #ff3814; }
    div.giftFormContainer form.mainGiftForm button.goPreviousStep {
      display: none;
      color: #999;
      padding: 0 0.5em 0.5em 0;
      border: none;
      background: none;
      left: 0;
      transition: left 0.66s; }
      div.giftFormContainer form.mainGiftForm button.goPreviousStep:hover {
        position: relative;
        left: -0.15em;
        color: #000; }

div.giftAmountContainer,
div.giftFrequencyContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0.5em 0; }
  div.giftAmountContainer div.giftOption,
  div.giftFrequencyContainer div.giftOption {
    padding: 0.125em; }
    div.giftAmountContainer div.giftOption.fixed,
    div.giftFrequencyContainer div.giftOption.fixed {
      flex: 1; }
      div.giftAmountContainer div.giftOption.fixed label,
      div.giftFrequencyContainer div.giftOption.fixed label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.25em;
        text-align: center;
        color: #333;
        min-height: 50px;
        background: linear-gradient(#fff, #e9e9e9);
        border: 1px solid #ccc;
        border-radius: 0.15em;
        outline: none;
        transition: color 0.33s, background-color 0.33s, box-shadow 0.4s; }
        div.giftAmountContainer div.giftOption.fixed label:hover, div.giftAmountContainer div.giftOption.fixed label.selected,
        div.giftFrequencyContainer div.giftOption.fixed label:hover,
        div.giftFrequencyContainer div.giftOption.fixed label.selected {
          color: white;
          background: #01a7df; }
        div.giftAmountContainer div.giftOption.fixed label.selected,
        div.giftFrequencyContainer div.giftOption.fixed label.selected {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
        div.giftAmountContainer div.giftOption.fixed label span,
        div.giftFrequencyContainer div.giftOption.fixed label span {
          vertical-align: middle; }
        div.giftAmountContainer div.giftOption.fixed label input[type="radio"],
        div.giftFrequencyContainer div.giftOption.fixed label input[type="radio"] {
          display: none; }
    div.giftAmountContainer div.giftOption.freeform,
    div.giftFrequencyContainer div.giftOption.freeform {
      display: flex;
      align-items: stretch;
      flex: 1 100%; }
      div.giftAmountContainer div.giftOption.freeform > *,
      div.giftFrequencyContainer div.giftOption.freeform > * {
        padding: 0.5rem; }
      div.giftAmountContainer div.giftOption.freeform input[type="text"],
      div.giftFrequencyContainer div.giftOption.freeform input[type="text"] {
        width: 100%;
        border-radius: 0; }
      div.giftAmountContainer div.giftOption.freeform div.currencyDisplay,
      div.giftFrequencyContainer div.giftOption.freeform div.currencyDisplay {
        background: linear-gradient(#fff, #e9e9e9);
        border: 1px solid #ccc;
        border-radius: 0.15em;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0; }
      div.giftAmountContainer div.giftOption.freeform select[name="giftCurrency"],
      div.giftFrequencyContainer div.giftOption.freeform select[name="giftCurrency"] {
        min-width: 3em;
        max-width: 6.25em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none; }

div.payInfoContainer {
  display: flex;
  flex-flow: row wrap; }
  div.payInfoContainer div.inputGroup {
    flex: 1 50%; }

/*# sourceMappingURL=main.css.map */
