* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'MuseoSans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #707070;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%; }

button {
  cursor: pointer;
  padding: 0.5em;
  font-size: 1.25em;
  text-align: center;
  border-radius: 0.15em;
  outline: none;
  transition: color 0.33s, background-color 0.5s, border 0.5s; }
  button:active {
    position: relative;
    top: 1px;
    opacity: 0.5; }
  button.error {
    background: tomato; }
  button.blocked {
    animation-name: buttonInAction;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite; }

div.mainBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0.15em;
  background: #efefef url("https://mfa.cachefly.net/mfa/images/uploads/2018/03/donate-background.jpg") no-repeat;
  background-position: 80% 50%;
  background-size: cover; }

div.giftFormHeaderContainer {
  display: none; }
  div.giftFormHeaderContainer div.giftFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75em 0.75em 1.5em 0.75em;
    background: linear-gradient(#fff, #eeeeef);
    border-bottom: 1px solid #dedee0; }
    div.giftFormHeaderContainer div.giftFormHeader > div {
      width: 25%; }
    div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer {
      width: 50%;
      text-align: center; }

div.giftFormContainer {
  width: 100%;
  min-width: 17.5em;
  max-width: 25em; }
  div.giftFormContainer form.mainGiftForm {
    background: linear-gradient(#fff, #f3f3f4, #f3f3f4, #f3f3f4);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.15em;
    overflow: hidden; }
    div.giftFormContainer form.mainGiftForm section.step {
      display: none;
      padding: 1.75rem; }
    div.giftFormContainer form.mainGiftForm h3 {
      font-weight: normal; }
    div.giftFormContainer form.mainGiftForm button.main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      width: 100%;
      padding: 1em;
      text-align: left;
      font-weight: bold;
      font-size: 1em;
      color: #fff;
      background-color: #01a7df;
      border: 1px solid #01a7df; }
      div.giftFormContainer form.mainGiftForm button.main i.fa {
        position: relative;
        font-size: 1.25em;
        left: 0;
        transition: left 0.66s; }
      div.giftFormContainer form.mainGiftForm button.main.goNextStep:hover i.fa, div.giftFormContainer form.mainGiftForm button.main.goNextStep:active i.fa {
        left: 0.33em; }
    div.giftFormContainer form.mainGiftForm button.goPreviousStep {
      display: none;
      color: #707070;
      padding: 0 0.5em 0.5em 0;
      border: none;
      background: none;
      left: 0;
      transition: left 0.66s; }
      div.giftFormContainer form.mainGiftForm button.goPreviousStep:hover {
        position: relative;
        left: -0.15em;
        color: #000; }
