/* v18.7.3 */
div#mfaDonationWidgetContainer {
  opacity: 0;
  min-height: 42em;
  margin: 3em auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
  color: #999 !important;
  text-align: left;
  transition: opacity 1s;
  /* reset various elements */
  /* select2 overrides */
  /* ANIMATIONS */
  /* Button Processing */
  /* Shake left/right to indicate no */
  /* mild exapnsion */ }
  div#mfaDonationWidgetContainer.reveal {
    opacity: 1 !important; }
  div#mfaDonationWidgetContainer * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: none;
    position: static;
    background: none;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    text-align: inherit; }
  div#mfaDonationWidgetContainer p,
  div#mfaDonationWidgetContainer label,
  div#mfaDonationWidgetContainer h1,
  div#mfaDonationWidgetContainer h2,
  div#mfaDonationWidgetContainer h3,
  div#mfaDonationWidgetContainer h4,
  div#mfaDonationWidgetContainer h5,
  div#mfaDonationWidgetContainer h6,
  div#mfaDonationWidgetContainer input,
  div#mfaDonationWidgetContainer select,
  div#mfaDonationWidgetContainer textarea {
    color: inherit;
    font-family: inherit; }
    div#mfaDonationWidgetContainer p span,
    div#mfaDonationWidgetContainer label span,
    div#mfaDonationWidgetContainer h1 span,
    div#mfaDonationWidgetContainer h2 span,
    div#mfaDonationWidgetContainer h3 span,
    div#mfaDonationWidgetContainer h4 span,
    div#mfaDonationWidgetContainer h5 span,
    div#mfaDonationWidgetContainer h6 span,
    div#mfaDonationWidgetContainer input span,
    div#mfaDonationWidgetContainer select span,
    div#mfaDonationWidgetContainer textarea span {
      color: inherit;
      font-family: inherit; }
  div#mfaDonationWidgetContainer input,
  div#mfaDonationWidgetContainer select,
  div#mfaDonationWidgetContainer textarea {
    color: #333333;
    font-weight: normal; }
  div#mfaDonationWidgetContainer button {
    cursor: pointer;
    padding: 0.5em;
    font-size: 1.25em;
    text-align: center;
    border-radius: 0.15em;
    outline: none;
    transition: color 0.33s, background-color 0.5s, border 0.5s; }
    div#mfaDonationWidgetContainer button:active {
      position: relative;
      top: 1px;
      opacity: 0.5; }
    div#mfaDonationWidgetContainer button.blocked {
      animation-name: buttonInAction;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite; }
    div#mfaDonationWidgetContainer button.showInvalid {
      position: relative;
      animation-name: shakeInvalid;
      animation-duration: 0.2s;
      animation-timing-function: ease-out;
      animation-iteration-count: 2; }
  div#mfaDonationWidgetContainer .urlWrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word; }
  div#mfaDonationWidgetContainer .hint {
    font-style: italic;
    font-size: 0.85em;
    opacity: 0.9; }
  div#mfaDonationWidgetContainer .clickTarget {
    cursor: pointer;
    text-decoration: underline; }
  div#mfaDonationWidgetContainer div.loadingDisplay {
    color: #f3f3f4;
    text-align: center;
    font-size: 2em; }
  div#mfaDonationWidgetContainer div.testModeContainer {
    display: none;
    padding: 0.25em;
    text-align: center;
    color: #fff;
    background-color: goldenrod;
    border: 1px solid #e4b849;
    border-top-left-radius: 0.15em;
    border-top-right-radius: 0.15em; }
  div#mfaDonationWidgetContainer div.giftFormHeaderContainer {
    display: none; }
    div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75em;
      background: linear-gradient(#fff, #eeeeef);
      border-bottom: 1px solid #dedee0; }
      div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader > div {
        width: auto; }
      div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.buttonContainer {
        align-self: start;
        width: 1.75rem; }
      div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.introContentContainer {
        display: none;
        max-width: 33%;
        text-align: center;
        padding: 0.25em; }
        div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.introContentContainer img {
          display: block;
          width: 100%;
          height: auto;
          margin: 0.15em auto; }
      div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer {
        flex-grow: 1;
        min-width: 45%;
        text-align: center;
        padding: 0.1em; }
        div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer h3 {
          font-size: 1em; }
        div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer div.amountDisplay {
          font-weight: normal;
          color: #4d4d4d; }
          div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer div.amountDisplay span.currencySymbol {
            font-size: 0.9em;
            vertical-align: 1em; }
          div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer div.amountDisplay span.displayWholeAmount {
            font-size: 2.5em; }
          div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.giftDisplayContainer div.amountDisplay span.displaySubAmount {
            position: relative;
            left: -0.15em;
            font-size: 1.1em; }
      div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader div.positioning {
        display: block;
        width: 1.75rem; }
      div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader.showIntro div.introContentContainer {
        display: block; }
      div#mfaDonationWidgetContainer div.giftFormHeaderContainer div.giftFormHeader.showIntro div.positioning {
        display: none; }
  div#mfaDonationWidgetContainer div.giftFormContainer {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 17.5em;
    max-width: 25em; }
    div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm {
      background-color: #f5f5f5;
      background: linear-gradient(#fff, #f3f3f4, #f3f3f4, #f3f3f4);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 0.15em; }
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm section.step {
        display: none;
        padding: 1rem 2.5%; }
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm h4 {
        font-size: 0.9375em;
        font-weight: normal; }
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm h4.separator {
          margin-top: 1.25em;
          color: #1a1a1a; }
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm select,
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="text"],
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="email"],
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="tel"],
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="number"],
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm div.inputAppearance {
        width: 100%;
        height: 2.25rem !important;
        padding: 0.44rem;
        font-size: 1rem;
        background: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        transition: color 0.66s, background-color 0.66s; }
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm select.invalid,
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="text"].invalid,
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="email"].invalid,
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="tel"].invalid,
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="number"].invalid,
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm div.inputAppearance.invalid {
          position: relative;
          color: #ff5a3d;
          background-color: #ffe5e0;
          border: 0.5px solid rgba(255, 99, 71, 0.75);
          animation-name: getAttention;
          animation-duration: 0.25s;
          animation-timing-function: ease-out;
          animation-iteration-count: 1; }
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="number"]::-webkit-inner-spin-button,
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0; }
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm div.specialSelectorContainer {
        padding: 0;
        border: 0; }
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm button.main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        text-align: left;
        font-weight: bold;
        font-size: 1em;
        color: #fff;
        background-color: #01a7df;
        border: 1px solid #01a7df; }
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm button.main span.icon {
          font-weight: bold;
          position: relative;
          font-size: 1.25em;
          left: 0;
          transition: left 0.66s; }
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm button.main:hover span.icon.slideRight, div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm button.main:active span.icon.slideRight {
          left: 0.33em; }
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm button.main.error {
          background: tomato;
          border-color: #ff3814; }
      div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm button.goPreviousStep {
        display: none;
        color: #999;
        padding: 0 0.5em 0.5em 0;
        border: 0;
        background: none;
        left: 0;
        transition: left 0.66s; }
        div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm button.goPreviousStep:hover {
          position: relative;
          left: -0.15em;
          color: #000; }
  div#mfaDonationWidgetContainer div.giftAmountContainer,
  div#mfaDonationWidgetContainer div.giftFrequencyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5em 0; }
    div#mfaDonationWidgetContainer div.giftAmountContainer.giftAmountContainer,
    div#mfaDonationWidgetContainer div.giftFrequencyContainer.giftAmountContainer {
      margin-top: 0; }
    div#mfaDonationWidgetContainer div.giftAmountContainer div.fixedAmountContainer,
    div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fixedAmountContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 100%;
      align-items: center;
      margin-top: 0.5em; }
    div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton,
    div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0%;
      padding: 0.125em; }
      div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton input[type="radio"],
      div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton input[type="radio"] {
        display: none; }
        div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton input[type="radio"] + label,
        div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton input[type="radio"] + label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 0.25em;
          text-align: center;
          color: #333333;
          min-height: 3.1rem;
          background: linear-gradient(#fff, #e9e9e9);
          border: 1px solid #ccc;
          border-radius: 0.15em;
          outline: none;
          transition: color 0.33s, background-color 0.33s; }
          div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton input[type="radio"] + label:hover, div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton input[type="radio"] + label.selected,
          div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton input[type="radio"] + label:hover,
          div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton input[type="radio"] + label.selected {
            color: white;
            background: #01a7df; }
          div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton input[type="radio"] + label.selected,
          div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton input[type="radio"] + label.selected {
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
          div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton input[type="radio"] + label span,
          div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton input[type="radio"] + label span {
            vertical-align: middle; }
        div#mfaDonationWidgetContainer div.giftAmountContainer div.fancyRadioButton input[type="radio"]:checked + label,
        div#mfaDonationWidgetContainer div.giftFrequencyContainer div.fancyRadioButton input[type="radio"]:checked + label {
          color: white;
          background: #01a7df;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption,
    div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption {
      padding: 0.125em; }
      div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption span.currencySymbol,
      div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption span.currencySymbol {
        font-size: 0.75em;
        margin-right: 0.15em; }
      div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption.freeform,
      div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption.freeform {
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        padding: 0;
        margin: 0.25em 0.1em 0.1em 0.1em;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 0.15em; }
        div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption.freeform > *,
        div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption.freeform > * {
          padding: 0.5rem; }
        div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption.freeform input[type="text"],
        div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption.freeform input[type="text"] {
          width: 100%;
          border-radius: 0; }
        div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption.freeform div.currencyDisplay,
        div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption.freeform div.currencyDisplay {
          background: linear-gradient(#fff, #e9e9e9);
          border: 1px solid #ccc;
          border-radius: 0.15em;
          outline: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border: 0; }
        div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption.freeform input[name="giftAmountFreeform"],
        div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption.freeform input[name="giftAmountFreeform"] {
          font-size: 0.8em;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc; }
        div#mfaDonationWidgetContainer div.giftAmountContainer div.giftOption.freeform select[name="giftCurrency"],
        div#mfaDonationWidgetContainer div.giftFrequencyContainer div.giftOption.freeform select[name="giftCurrency"] {
          min-width: 3em;
          max-width: 6.25em; }
  div#mfaDonationWidgetContainer div.donorInfoContainer,
  div#mfaDonationWidgetContainer div.billingInfoContainer,
  div#mfaDonationWidgetContainer div.payInfoContainer,
  div#mfaDonationWidgetContainer div.payMethodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    div#mfaDonationWidgetContainer div.donorInfoContainer div.connectedSection,
    div#mfaDonationWidgetContainer div.billingInfoContainer div.connectedSection,
    div#mfaDonationWidgetContainer div.payInfoContainer div.connectedSection,
    div#mfaDonationWidgetContainer div.payMethodContainer div.connectedSection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 0.15em; }
    div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup,
    div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup,
    div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup,
    div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.infoBox,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.infoBox,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.infoBox,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.infoBox {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.33em;
        background: transparent;
        border: 1px solid #ccc;
        box-shadow: none; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.infoBox.collapsable,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.infoBox.collapsable,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.infoBox.collapsable,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.infoBox.collapsable {
          margin-top: 0.5em;
          display: none; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.infoBox.noWrap,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.infoBox.noWrap,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.infoBox.noWrap,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.infoBox.noWrap {
          flex-wrap: nowrap; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.borderTop,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.borderTop,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.borderTop,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.borderTop {
        border-top: 1px solid #ccc; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.borderRight,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.borderRight,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.borderRight,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.borderRight {
        border-right: 1px solid #ccc; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.collapsable,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.collapsable,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.collapsable,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.collapsable {
        margin-top: 0.5em;
        display: none; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.twoUp,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.twoUp,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.twoUp,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.twoUp {
        flex-basis: 50%; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.twoUp.big,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.twoUp.big,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.twoUp.big,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.twoUp.big {
          flex-basis: 60%; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.twoUp.small,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.twoUp.small,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.twoUp.small,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.twoUp.small {
          flex-basis: 40%; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.twoUp.infoBox,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.twoUp.infoBox,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.twoUp.infoBox,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.twoUp.infoBox {
          margin-left: 0.5em;
          margin-right: 0.5em; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.collapsable,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.collapsable,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.collapsable,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.collapsable {
        margin-top: 0.5em; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber, div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardCvv,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardCvv,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardCvv,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardCvv {
        display: flex;
        align-items: center; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber .insetIcon, div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardCvv .insetIcon,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber .insetIcon,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardCvv .insetIcon,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber .insetIcon,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardCvv .insetIcon,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber .insetIcon,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardCvv .insetIcon {
          padding-right: 0.4em;
          transition: color 0.25s; }
          div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber .insetIcon.valid, div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardCvv .insetIcon.valid,
          div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber .insetIcon.valid,
          div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardCvv .insetIcon.valid,
          div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber .insetIcon.valid,
          div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardCvv .insetIcon.valid,
          div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber .insetIcon.valid,
          div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardCvv .insetIcon.valid {
            color: #8cc63e; }
          div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber .insetIcon.invalid, div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardCvv .insetIcon.invalid,
          div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber .insetIcon.invalid,
          div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardCvv .insetIcon.invalid,
          div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber .insetIcon.invalid,
          div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardCvv .insetIcon.invalid,
          div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber .insetIcon.invalid,
          div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardCvv .insetIcon.invalid {
            color: tomato; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber {
        flex-basis: 75%; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber div.cardNumberFeedback {
          display: flex;
          align-items: center; }
          div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType,
          div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType,
          div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType,
          div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType {
            font-size: 1.5em;
            color: #999;
            transition: opacity 0.66s; }
            div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType.known,
            div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType.known,
            div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType.known,
            div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardNumber div.cardNumberFeedback .cardType.known {
              color: #000; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup.cardCvv,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup.cardCvv,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup.cardCvv,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup.cardCvv {
        flex-basis: 25%; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup div.cardTokenizerFrame,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup div.cardTokenizerFrame,
      div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup div.cardTokenizerFrame,
      div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup div.cardTokenizerFrame {
        height: 2.25rem; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.inputGroup div.cardTokenizerFrame iframe,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.inputGroup div.cardTokenizerFrame iframe,
        div#mfaDonationWidgetContainer div.payInfoContainer div.inputGroup div.cardTokenizerFrame iframe,
        div#mfaDonationWidgetContainer div.payMethodContainer div.inputGroup div.cardTokenizerFrame iframe {
          width: 100%;
          height: 2.25rem;
          overflow: hidden; }
    div#mfaDonationWidgetContainer div.donorInfoContainer div.infoIcon,
    div#mfaDonationWidgetContainer div.billingInfoContainer div.infoIcon,
    div#mfaDonationWidgetContainer div.payInfoContainer div.infoIcon,
    div#mfaDonationWidgetContainer div.payMethodContainer div.infoIcon {
      position: relative;
      margin-left: auto; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.infoIcon i,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.infoIcon i,
      div#mfaDonationWidgetContainer div.payInfoContainer div.infoIcon i,
      div#mfaDonationWidgetContainer div.payMethodContainer div.infoIcon i {
        padding: 0.1em; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.infoIcon span.infoText,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.infoIcon span.infoText,
      div#mfaDonationWidgetContainer div.payInfoContainer div.infoIcon span.infoText,
      div#mfaDonationWidgetContainer div.payMethodContainer div.infoIcon span.infoText {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: -1em;
        right: -1em;
        min-width: 15em;
        min-height: 5em;
        max-width: 26em;
        padding: 1em;
        font-size: 0.9em;
        color: #666666;
        background-color: white;
        border: 1px solid #bfbfbf;
        border-radius: 0.25em;
        box-shadow: 0 0 0.25em rgba(153, 153, 153, 0.75); }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.infoIcon span.infoText:hover,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.infoIcon span.infoText:hover,
        div#mfaDonationWidgetContainer div.payInfoContainer div.infoIcon span.infoText:hover,
        div#mfaDonationWidgetContainer div.payMethodContainer div.infoIcon span.infoText:hover {
          display: flex; }
        div#mfaDonationWidgetContainer div.donorInfoContainer div.infoIcon span.infoText img,
        div#mfaDonationWidgetContainer div.billingInfoContainer div.infoIcon span.infoText img,
        div#mfaDonationWidgetContainer div.payInfoContainer div.infoIcon span.infoText img,
        div#mfaDonationWidgetContainer div.payMethodContainer div.infoIcon span.infoText img {
          display: block;
          margin: 0.15em;
          border: 0.5px solid whitesmoke;
          width: 100%;
          height: auto; }
      div#mfaDonationWidgetContainer div.donorInfoContainer div.infoIcon:hover span.infoText,
      div#mfaDonationWidgetContainer div.billingInfoContainer div.infoIcon:hover span.infoText,
      div#mfaDonationWidgetContainer div.payInfoContainer div.infoIcon:hover span.infoText,
      div#mfaDonationWidgetContainer div.payMethodContainer div.infoIcon:hover span.infoText {
        display: flex; }
  div#mfaDonationWidgetContainer div.generalContainer {
    text-align: center; }
    div#mfaDonationWidgetContainer div.generalContainer h1 {
      font-size: 3em;
      color: #01a7df;
      margin-top: 0;
      margin-bottom: 0.5em; }
      div#mfaDonationWidgetContainer div.generalContainer h1.error {
        color: tomato; }
      div#mfaDonationWidgetContainer div.generalContainer h1.big {
        font-size: 4em;
        margin-bottom: 0.33em; }
    div#mfaDonationWidgetContainer div.generalContainer h2,
    div#mfaDonationWidgetContainer div.generalContainer h3,
    div#mfaDonationWidgetContainer div.generalContainer h4,
    div#mfaDonationWidgetContainer div.generalContainer h5,
    div#mfaDonationWidgetContainer div.generalContainer h6 {
      color: #333;
      margin-top: 0.5em;
      margin-bottom: 0; }
    div#mfaDonationWidgetContainer div.generalContainer h2 {
      font-size: 2em; }
    div#mfaDonationWidgetContainer div.generalContainer h3 {
      font-size: 1.25em; }
  div#mfaDonationWidgetContainer div.bitcoinContainer .bitcoinLogo {
    color: #f58a08; }
  div#mfaDonationWidgetContainer div.bitcoinContainer div.spacingContainer {
    margin-top: 0.75em;
    margin-bottom: 0.75em; }
    div#mfaDonationWidgetContainer div.bitcoinContainer div.spacingContainer.error {
      color: tomato; }
  div#mfaDonationWidgetContainer div.bitcoinContainer div.bitcoinStatusDisplay {
    font-size: 0.9em;
    color: #8cc63e; }
    div#mfaDonationWidgetContainer div.bitcoinContainer div.bitcoinStatusDisplay.warning {
      color: goldenrod; }
    div#mfaDonationWidgetContainer div.bitcoinContainer div.bitcoinStatusDisplay.error {
      color: tomato; }
  div#mfaDonationWidgetContainer div.bitcoinContainer img.scanCode {
    display: block;
    margin: 0.75em auto;
    border: 1px solid #ccc; }
  div#mfaDonationWidgetContainer div.bitcoinContainer div.inputAppearance {
    font-weight: bold; }
    div#mfaDonationWidgetContainer div.bitcoinContainer div.inputAppearance span.bitcoinWalletLink {
      font-size: 0.75em; }
  div#mfaDonationWidgetContainer div.bitcoinContainer a {
    color: inherit;
    text-decoration: underline; }
  div#mfaDonationWidgetContainer div.stepButtonContainer {
    margin-top: 1rem; }
    div#mfaDonationWidgetContainer div.stepButtonContainer div.userFeedback {
      text-align: center; }
      div#mfaDonationWidgetContainer div.stepButtonContainer div.userFeedback p {
        display: none;
        margin-bottom: 0.5rem;
        text-align: center; }
        div#mfaDonationWidgetContainer div.stepButtonContainer div.userFeedback p.error {
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
          font-weight: bold;
          color: #ff5a3d;
          background-color: #ffe5e0;
          border: 0.5px solid rgba(255, 99, 71, 0.75); }
  div#mfaDonationWidgetContainer .select2-container--default .select2-selection--single {
    border: 0; }
  div#mfaDonationWidgetContainer .select2-search.select2-search--dropdown {
    border-top: 1px solid #ccc; }
  div#mfaDonationWidgetContainer input.fancyCheckbox {
    display: none; }
    div#mfaDonationWidgetContainer input.fancyCheckbox + label.fancyCheckbox:before {
      content: "";
      display: inline-block;
      margin-left: 0;
      margin-right: 0.5em;
      width: 0.9em;
      height: 0.9em;
      background: #fff;
      border: 1px solid #b0b0b7;
      border-radius: 0;
      transition: 0.2s; }
    div#mfaDonationWidgetContainer input.fancyCheckbox:checked + label.fancyCheckbox:before {
      transform: rotate(40deg);
      width: 0.45em;
      margin-left: 0.25em;
      margin-right: 0.7em;
      border-top: none;
      border-left: none;
      background: transparent;
      border-right: 2px solid #01a7df;
      border-bottom: 2px solid #01a7df; }
@keyframes buttonInAction {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0.8;
    background-color: #0181ac; }
  100% {
    opacity: 0.5; } }
@keyframes shakeInvalid {
  0% {
    left: 0; }
  25% {
    left: -0.44em; }
  75% {
    left: 0.44em; }
  100% {
    left: 0; } }
@keyframes getAttention {
  0% {
    transform: scale(1); }
  60% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@media screen and (min-width: 30rem) {
  div#mfaDonationWidgetContainer div.giftFormContainer form.mainGiftForm section.step {
    padding: 1.75rem; } }

/*# sourceMappingURL=mwd-donate-widget.css.map */
