// COMMON VARIABLES
// colors
$colorMercyBlue: #01a7df;
$colorMainText: #999;
$colorFormBg: #f3f3f4;
$colorElementBorder: #ccc;
$colorBitcoin: #f58a08;
$colorError: tomato;
$colorWarning: goldenrod;
$colorSuccess: mediumseagreen;
// values
$standardInputHeight: 2.25rem;
$standardRadius: 0.15em;
