@import 'vars';
@import 'mixins';
/* ANIMATIONS */

/* Button Processing */
@keyframes buttonInAction {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.8;
		background-color: darken($colorMercyBlue, 10%);
	}
	100% {
		opacity: 0.5;
	}
}
