@import 'vars';
@import 'mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'MuseoSans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	color: $colorMainText;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
}

button {
	cursor: pointer;
	padding: 0.5em;
	font-size: 1.25em;
	text-align: center;
	border-radius: $standardRadius;
	outline: none;
	transition: color 0.33s, background-color 0.5s, border 0.5s;
	&:active {
		position: relative;
		top: 1px;
		opacity: 0.5;
	}
	&.error {
		background: tomato;
	}
	&.blocked {
		animation-name: buttonInAction;
		animation-duration: 2s;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
	}
}

div.mainBackground {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0.15em;
	background: #efefef url('https://mfa.cachefly.net/mfa/images/uploads/2018/03/donate-background.jpg')
		no-repeat;
	background-position: 80% 50%;
	background-size: cover;
}

div.giftFormHeaderContainer {
	display: none;
	div.giftFormHeader {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 0.75em 0.75em 1.5em 0.75em;
		background: linear-gradient(#fff, darken($colorFormBg, 2%));
		border-bottom: 1px solid darken($colorFormBg, 8%);
		> div {
			width: 25%;
		}
		div.giftDisplayContainer {
			width: 50%;
			text-align: center;
		}
	}
}

div.giftFormContainer {
	width: 100%;
	min-width: 17.5em;
	max-width: 25em;

	form.mainGiftForm {
		background: linear-gradient(#fff, $colorFormBg, $colorFormBg, $colorFormBg);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
		border-radius: $standardRadius;
		overflow: hidden;

		section.step {
			display: none;
			padding: 1.75rem;
		}

		h3 {
			font-weight: normal;
		}
		button {
			&.main {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 1rem;
				width: 100%;
				padding: 1em;
				text-align: left;
				font-weight: bold;
				font-size: 1em;
				color: #fff;
				background-color: $colorMercyBlue;
				border: 1px solid $colorMercyBlue;
				i.fa {
					position: relative;
					font-size: 1.25em;
					left: 0;
					transition: left 0.66s;
				}
				&.goNextStep {
					&:hover,
					&:active {
						i.fa {
							left: 0.33em;
						}
					}
				}
			}
			&.goPreviousStep {
				display: none;
				color: $colorMainText;
				padding: 0 0.5em 0.5em 0;
				border: none;
				background: none;
				left: 0;
				transition: left 0.66s;
				&:hover {
					position: relative;
					left: -0.15em;
					color: #000;
				}
			}
		}
	}
}
