/* v18.7.3 */

@import "vars";
@import "mixins";
div#mfaDonationWidgetContainer {
	opacity: 0;
	max-width: 30em;
	min-height: 42em;
	margin: 3em auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 16px !important;
	font-weight: normal !important;
	color: $colorMainText !important;
	text-align: left;
	transition: opacity 1s;
	&.reveal {
		opacity: 1 !important;
	}
	/* reset various elements */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		float: none;
		position: static;
		background: none;
		width: auto;
		height: auto;
		min-width: auto;
		min-height: auto;
		text-align: inherit;
	}
	p,
	label,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	input,
	select,
	textarea {
		color: inherit;
		font-family: inherit;
		span {
			color: inherit;
			font-family: inherit;
		}
	}
	input,
	select,
	textarea {
		color: darken($colorMainText, 40%);
		font-weight: normal;
	}
	button {
		cursor: pointer;
		padding: 0.5em;
		font-size: 1.25em;
		text-align: center;
		border-radius: $standardRadius;
		outline: none;
		transition: color 0.33s, background-color 0.5s, border 0.5s;
		&:active {
			position: relative;
			top: 1px;
			opacity: 0.5;
		}
		&.blocked {
			animation-name: buttonInAction;
			animation-duration: 2s;
			animation-timing-function: ease-out;
			animation-iteration-count: infinite;
		}
		&.showInvalid {
			position: relative;
			animation-name: shakeInvalid;
			animation-duration: 0.2s;
			animation-timing-function: ease-out;
			animation-iteration-count: 2;
		}
	}
	.urlWrap {
		word-wrap: break-word;
		overflow-wrap: break-word;
		word-break: break-word;
	}
	.clickTarget {
		cursor: pointer;
		text-decoration: underline;
	}
	div.loadingDisplay {
		color: $colorFormBg;
		text-align: center;
		font-size: 2em;
	}
	div.giftFormHeaderContainer {
		display: none;
		div.giftFormHeader {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			padding: 0.75em;
			background: linear-gradient(#fff, darken($colorFormBg, 2%));
			border-bottom: 1px solid darken($colorFormBg, 8%);
			> div {
				width: 25%;
			}
			div.introContentContainer {
				display: none;
			}
			div.giftDisplayContainer {
				text-align: center;
				min-width: 45%;
				h3 {
					font-size: 1em;
				}
				div.amountDisplay {
					font-weight: normal;
					color: darken($colorMainText, 30%);
					span.currencySymbol {
						font-size: 0.9em;
						vertical-align: 1em;
					}
					span.displayWholeAmount {
						font-size: 2.5em;
					}
					span.displaySubAmount {
						position: relative;
						left: -0.15em;
						font-size: 1.1em;
					}
				}
			}
		}
	}
	div.giftFormContainer {
		width: 100%;
		min-width: 17.5em;
		max-width: 25em;
		form.mainGiftForm {
			background-color: #f5f5f5;
			background: linear-gradient(#fff, $colorFormBg, $colorFormBg, $colorFormBg);
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
			border-radius: $standardRadius;
			overflow: hidden;
			section.step {
				display: none;
				padding: 1.75rem;
			}
			h4 {
				font-size: 0.9375em;
				font-weight: normal;
				&.separator {
					margin-top: 1.25em;
					color: darken($colorMainText, 50%);
				}
			}
			select,
			input[type="text"],
			input[type="email"],
			input[type="tel"],
			input[type="number"],
			div.inputAppearance {
				width: 100%;
				min-height: $standardInputHeight;
				padding: 0.44rem;
				font-size: 1rem;
				background: none;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				transition: color 0.66s, background-color 0.66s;
				&.invalid {
					position: relative;
					color: darken($colorError, 2%);
					background-color: lighten($colorError, 25%);
					border: 0.5px solid transparentize($colorError, 0.25);
					animation-name: shakeInvalid;
					animation-duration: 0.2s;
					animation-timing-function: ease-out;
					animation-iteration-count: 2;
				}
			}
			div.specialSelectorContainer {
				padding: 0;
				border: 0;
			}

			button {
				&.main {
					display: flex;
					align-items: stretch;
					justify-content: space-between;
					margin-top: 1rem;
					width: 100%;
					padding: 1em;
					text-align: left;
					font-weight: bold;
					font-size: 1em;
					color: #fff;
					background-color: $colorMercyBlue;
					border: 1px solid $colorMercyBlue;
					i.fa {
						position: relative;
						font-size: 1.25em;
						left: 0;
						transition: left 0.66s;
					}
					&.goNextStep {
						&:hover,
						&:active {
							i.fa {
								left: 0.33em;
							}
						}
					}
					&.error {
						background: $colorError;
						border-color: darken($colorError, 10%);
					}
				}
				&.goPreviousStep {
					display: none;
					color: $colorMainText;
					padding: 0 0.5em 0.5em 0;
					border: 0;
					background: none;
					left: 0;
					transition: left 0.66s;
					&:hover {
						position: relative;
						left: -0.15em;
						color: #000;
					}
				}
			}
		}
	}
	div.giftAmountContainer,
	div.giftFrequencyContainer {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		margin: 0.5em 0;
		div.fixedAmountContainer {
			display: flex;
			flex-flow: row wrap;
			flex-basis: 100%;
			align-items: center;
			margin-top: 0.5em;
		}
		div.fancyRadioButton {
			flex: 1;
			padding: 0.125em;
			input[type="radio"] {
				display: none;
				+ label {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					padding: 0.25em;
					text-align: center;
					color: darken($colorMainText, 40%);
					min-height: 3.1rem;
					@include basicButton;
					span {
						vertical-align: middle;
					}
				}
				&:checked + label {
					color: white;
					background: $colorMercyBlue;
					box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
				}
			}
		}
		div.giftOption {
			padding: 0.125em;
			&.freeform {
				display: flex;
				align-items: stretch;
				flex: 1 100%;
				padding: 0;
				margin: 0.25em 0.1em 0.1em 0.1em;
				background: #fff;
				border: 1px solid $colorElementBorder;
				border-radius: $standardRadius;
				> * {
					padding: 0.5rem;
				}
				input[type="text"] {
					width: 100%;
					border-radius: 0;
				}
				div.currencyDisplay {
					@include basicButtonLook;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					border: 0;
				}
				input[name="giftAmountFreeform"] {
					font-size: 0.8em;
					border-left: 1px solid $colorElementBorder;
					border-right: 1px solid $colorElementBorder;
				}
				select[name="giftCurrency"] {
					min-width: 3em;
					max-width: 6.25em;
				}
			}
		}
	}
	div.donorInfoContainer,
	div.billingInfoContainer,
	div.payInfoContainer,
	div.payMethodContainer {
		display: flex;
		flex-flow: row wrap;
		div.connectedSection {
			display: flex;
			flex-flow: row wrap;
			flex: 1 100%;
			background: #fff;
			border: 1px solid $colorElementBorder;
			border-radius: $standardRadius;
		}
		div.inputGroup {
			flex: 1 100%;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			&.infoBox {
				display: flex;
				flex-wrap: wrap;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				padding: 0.33em;
				background: transparent;
				border: 1px solid $colorElementBorder;
				box-shadow: none;
				&.collapsable {
					margin-top: 0.5em;
					display: none;
				}
			}
			&.borderTop {
				border-top: 1px solid $colorElementBorder;
			}
			&.borderRight {
				border-right: 1px solid $colorElementBorder;
			}
			&.collapsable {
				margin-top: 0.5em;
				display: none;
			}
			&.twoUp {
				flex-basis: 50%;
				&.big {
					flex-basis: 60%;
				}
				&.small {
					flex-basis: 40%;
				}
				&.infoBox {
					margin-left: 0.5em;
					margin-right: 0.5em;
				}
			}
			&.collapsable {
				margin-top: 0.5em;
			}
			&.cardNumber,
			&.cardCvv {
				display: flex;
				align-items: center;
				.insetIcon {
					padding-right: 0.25em;
				}
			}
			&.cardNumber {
				flex-basis: 75%;
				div.cardNumberFeedback {
					display: flex;
					align-items: center;
					color: #000;
					.cardType {
						font-size: 1.25em;
					}
				}
			}
			&.cardCvv {
				flex-basis: 25%;
			}
			div.cardTokenizerFrame {
				height: $standardInputHeight;
				overflow: hidden;
				iframe {
					width: 100%;
				}
			}
		}

		div.infoIcon {
			position: relative;
			margin-left: auto;
			span.infoText {
				position: absolute;
				display: none;
				align-items: center;
				justify-content: center;
				bottom: -1em;
				right: -1em;
				min-width: 15em;
				min-height: 5em;
				max-width: 20em;
				padding: 0.75em;
				font-size: 0.8em;
				color: darken($colorMainText, 10%);
				background-color: lighten($colorFormBg, 10%);
				border: 1px solid darken($colorElementBorder, 5%);
				border-radius: 0.25em;
				box-shadow: 0 0 0.25em transparentize($colorMainText, 0.25);
				&:hover {
					display: flex;
					bottom: 0;
					opacity: 1;
				}
			}
			&:hover {
				span.infoText {
					display: flex;
				}
			}
		}
		// select {
		// 	-webkit-appearance: none;
		// 	appearance: none;
		// }
	}
	div.generalContainer {
		text-align: center;
		h1 {
			font-size: 3em;
			color: $colorMercyBlue;
			margin-top: 0;
			margin-bottom: 0.5em;
			&.error {
				color: $colorError;
			}
			&.big {
				font-size: 4em;
				margin-bottom: 0.33em;
			}
		}
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #333;
			margin-top: 0.5em;
			margin-bottom: 0;
		}
		h2 {
			font-size: 2em;
		}
		h3 {
			font-size: 1.25em;
		}
	}
	div.bitcoinContainer {
		.bitcoinLogo {
			color: $colorBitcoin;
		}
		div.spacingContainer {
			margin-top: 0.75em;
			margin-bottom: 0.75em;
			&.error {
				color: $colorError;
			}
		}
		div.bitcoinStatusDisplay {
			font-size: 0.9em;
			color: $colorSuccess;
			&.warning {
				color: $colorWarning;
			}
			&.error {
				color: $colorError;
			}
		}
		img.scanCode {
			display: block;
			margin: 0.75em auto;
			border: 1px solid $colorElementBorder;
		}
		div.inputAppearance {
			font-weight: bold;
			span.bitcoinWalletLink {
				font-size: 0.75em;
			}
		}
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
	/* select2 overrides */

	.select2-container--default .select2-selection--single {
		border: 0;
	}
	.select2-search.select2-search--dropdown {
		border-top: 1px solid $colorElementBorder;
	}
}

input.fancyCheckbox {
	display: none;
	& + label.fancyCheckbox:before {
		content: "";
		display: inline-block;
		margin-left: 0;
		margin-right: 0.5em;
		width: 0.9em;
		height: 0.9em;
		background: #fff;
		border: 1px solid darken($colorFormBg, 25%);
		border-radius: 0;
		transition: 0.2s;
	}
	&:checked + label.fancyCheckbox:before {
		transform: rotate(40deg);
		width: 0.45em;
		margin-left: 0.25em;
		margin-right: 0.7em;
		border-top: none;
		border-left: none;
		background: transparent;
		border-right: 2px solid $colorMercyBlue;
		border-bottom: 2px solid $colorMercyBlue;
	}
}

/* ANIMATIONS */

/* Button Processing */
@keyframes buttonInAction {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.8;
		background-color: darken($colorMercyBlue, 10%);
	}
	100% {
		opacity: 0.5;
	}
}

/* Shake left/right to indicate no */
@keyframes shakeInvalid {
	0% {
		left: 0;
	}
	25% {
		left: -0.44em;
	}
	75% {
		left: 0.44em;
	}
	100% {
		left: 0;
	}
}
